<div class="floating-container fixed top-[45vh]" data-scroll data-scroll-sticky data-scroll-target=".smooth-scroll">
    <div id="floating-card" class="floating-card" data-scroll>
      <img src="#" alt="Mughees Rashid" class="profile-pic">
      <div class="content">
        <h3 class="card-title">Designed and Developed by Mughees Rashid</h3>
        <div class="social-links" data-scroll>
          <a href="https://github.com/MugheesRashid" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/mughees.rashid/" target="_blank" data-scroll>
            <i class="z-50 fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelector('a[href="https://www.instagram.com/mughees.rashid/"]').addEventListener('click', function(event) {
  window.open(this.href, '_blank');
});
  </script>