        <!-- Footer -->
        <div data-scroll class="footer w-screen h-[150vh] md:h-[160vh] overflow-hidden">
            <div class="top w-full h-[40vh] bg-[url('/images/image.png')] relative bottom-[-4px] bg-no-repeat bg-cover bg-center">
            </div>
            <div class="bottom bg-black h-[120vh] relative top-[0]">
                <p class="absolute top-[-21px] right-[35px] h-[3vh] w-[250px] text-md text-center text-white">Follow
                    <a class="hover:text-[#777]" href="https://www.instagram.com/fimmun.24">@FIMMUN2024</a></p>
                <div
                    class="footer-img h-[30%] w-full flex flex-row justify-between items-center px-10 py-5 -ml-3 overflow-hidden">
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1719937206168-f4c829152b91?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D')]">
                    </div>
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1719937206094-8de79c912f40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8')]">
                    </div>
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1725067807370-a3fc3fd23000?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D')]">
                    </div>
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1719937206109-7f4e933230c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMXx8fGVufDB8fHx8fA%3D%3D')]">
                    </div>
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1725203574074-a33eae85ba71?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D')]">
                    </div>
                    <div
                        class="w-[15%] bg-cover bg-center bg-no-repeat h-full bg-[url('https://images.unsplash.com/photo-1517708777192-0ab95e4fc80e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGdpcmxzfGVufDB8fDB8fHww')]">
                    </div>
                </div>
                <div
                    class="footer-heading mt-5 relative h-[20%] w-full overflow-hidden flex flex-row items-center justify-between">
                    <div class="flex flex-row items-center gap-1">
                        <h6 class="text-[9.5vw] inline-block font-light pl-5 tracking-wide py-5 text-white">FIMMUN</h6>
                        <span class="lane h-1 relative inline-block w-[25vw] bg-white"></span>
                    </div>
                    <div class="h-full year relative -top-2 w-[20vw] text-white text-[8vw] tracking-wide font-light mr-10">
                        2024</div>
                </div>
                <div class="links w-full h-[30%] bg-no-repeat bg-cover bg-bottom flex flex-row justify-around items-center px-10">
                    <div class="footer-logo w-[150px] h-[150px] bg-[url('./images/logo.png')] bg-center bg-cover bg-no-repeat"></div>
                    <div class="usefulLinks h-full w-[25%] flex flex-col items-center justify-center text-white">
                        <h9 class="py-5 px-5">Useful Links</h9>
                        <ul class="flex flex-col items-start ">
                            <li><a class="hover:text-[#777]" href="/">Home</a</li>
                            <li><a class="hover:text-[#777]" href="/about">About MUN</a</li>
                            <li><a class="hover:text-[#777]" href="/gallery">Gallery</a</li>
                            <li><a class="hover:text-[#777]" href="/track-registry">Trace Your Registration</a</li>
                            <li><a class="hover:text-[#777]" href="/register">Register</a</li>
                        </ul>
                    </div>
                    <div class="faq text-white h-full w-[25%] flex flex-col items-start justify-center">
                        <h9 class="py-5 px-5 ">Contact</h9>
                        <ul class="flex flex-col items-start">                                          
                            <li class="pl-4"><a class="hover:text-[#777]"><a href="mailto:Fimmun24@gmail.com">Fimmun24@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="socialMedia text-white h-full w-[25%] flex flex-col items-start justify-center">
                        <h9 class="mb-3">Social Media</h9>
                        <a href="#" class="flex flex-row items-center gap-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-instagram" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                            </svg><span>Instagram</span></a>
                    </div>
                </div>
                <div class="w-full relative copyright h-[20%] flex items-center justify-center text-white"><p>&copy; 2024 FIMMUN24. All rights reserved.</p></div>
            </div>
        </div>