<div class="loader-page z-[99999]">
    <div class="loader-container">
        <div class="logoLoader"></div>
      <div class="loader">
        <div class="loader-fill"></div>
      </div>
    </div>
  </div>