<div
    class="fullMenu overflow-hidden hidden absolute top-0 left-0 z-[9999] w-screen h-screen bg-[#fff] text-white px-10 py-15">
    <div style="border: 1px solid black;"
        class="rounded-full closeBtn cursor-pointer h-[7vh] w-[12vw] z-[999] absolute top-1 bg-white right-0 flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </div>
    <div class="menuContent z-30 flex justify-center items-center relative flex-col h-full w-full tracking-tighter">
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black"
            href="/">HOME.<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black"
            href="/about">ABOUT MUN.<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black uppercase"
            href="/committees">committees<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black"
            href="/gallery">GALLERY.<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black uppercase"
            href="/track-registry">Track Your Registration.<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a style="border-bottom: 1px solid black;" class="navLink w-full px-10 text-[8vh] z-30 relative text-black"
            href="/register">REGISTER NOW.<span class="absolute right-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
        <a class="md:w-1/3 w-full px-10 text-[4vh] md:left-[50vw] left-[40vw] z-30 relative text-black uppercase"
            href="/admin">Admin Login.<span class="absolute left-10 top-1/2 -translate-y-1/2"><svg
                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></span></a>
    </div>
</div>
<nav class="flex z-[999] flex-row justify-between items-center px-[2vw] z-[13] absolute w-screen">
    <img class="logo" src="/images/logo.png" alt="LOGO">
    <h3
        class="menu text-lg text-white md:h-[2vw] h-[5vw] w-[25vw] md:w-[5vw] font-semibold cursor-pointer relative mr-10 px-5 overflow-y-hidden flex flex-col items-center z-[999]">
        <span class="relative w-[4vw] h-[2vw] text-center -translate-y-full md:block hidden">Menu</span>
        <span class="relative top-0 left-0 w-[4vw] h-[2vw] text-center -translate-y-full">Menu</span>
    </h3>
</nav>